@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'JetBrains Mono', monospace;
}
